@import "tailwindcss";

@theme {
  --color-brand-lime: #B6F06B;
  --color-brand-dark: #2D4222;
  --color-brand-text: #1A1A1A;
  --font-sans: var(--font-inter), sans-serif;
}

/* Optional: Section container limit */
.container {
  max-width: 1200px;
}


.glass-nav {
  background: #F8F8F8B2;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Lenis Smooth Scroll */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}